<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet">
<link href="../../css/styles.css"
      rel="stylesheet"/>
<link href="login.style.client.css"
      rel="stylesheet"/>
<div class="container-fluid">
    <h1>Login</h1>

    <div>
        <label for="username">
            Username
        </label>
        <input type="text"
               class="form-control wbdv"
               placeholder="alice"
               id="username"/>
    </div>

    <div>
        <label for="password">
            Password
        </label>
        <input type="password"
               class="form-control wbdv"
               placeholder="1234qwerasdf"
               id="password"/>
    </div>
    <button class="btn btn-primary"
            id="loginBtn">
        Login
    </button>
    <a href="../register/register.template.client.html">
        Sign Up
    </a>

</div>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<script src="login.controller.client.js"></script>